server:
  port: ${SERVER_PORT:8000}

logging:
  level:
    root: info

spring:
  application:
    name: SIPE
  websocket:
    allowed-origins: *
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
        alphanumeric-ids:
          enabled: true
  jpa:
    properties:
      hibernate:
        show_sql: true
  datasource:
    url: ${MYSQL_URL:jdbc:mysql://localhost:3306/sispontodb?allowPublicKeyRetrieval=true&sslMode=DISABLED}
    username: ${MYSQL_USER:root}
    password: ${MYSQL_USER_PASSWORD:123456789}
    driver-class-name: com.mysql.cj.jdbc.Driver
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${JWK_SET_URI:http://localhost:9001/oauth2/jwks}
          issuer-uri: ${OAUTH2_ISSUER_URI:http://localhost:9001/.well-known/openid-configuration}

resilience4j:
  circuitbreaker:
    instances:
      DemoClientgetDemo:
        minimumNumberOfCalls: 69
  timelimiter:
    instances:
      DemoClientgetDemo:
        timeoutDuration: 10s

sipe:
  web:
    url: ${SIPE_WEB_URL:localhost:4200}

coletor:
  api:
    url: ${COLETOR_API_URL:localhost:8082}

jsarh:
  api:
    url: ${JSARH_API_URL:localhost:8087}