server:
  port: ${SERVER_PORT:8084}
logging:
  level:
    root: info
spring:
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
        alphanumeric-ids:
          enabled: true
  application:
    name: SIPE
  jpa:
    properties:
      hibernate:
        show_sql: false
        hbm2ddl:
          auto: update
#        physical_naming_strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  datasource:
    url: ${MYSQL_URL:jdbc:mysql://localhost:3306/sispontodb?allowPublicKeyRetrieval=true&sslMode=DISABLED}
    username: ${MYSQL_USER:root}
    password: ${MYSQL_USER_PASSWORD:123456789}
    driver-class-name: com.mysql.cj.jdbc.Driver
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${JWK_SET_URI:http://localhost:9000/oauth2/jwks}

resilience4j:
  circuitbreaker:
    instances:
      DemoClientgetDemo:
        minimumNumberOfCalls: 69
  timelimiter:
    instances:
      DemoClientgetDemo:
        timeoutDuration: 10s

sipe:
  web:
    url: ${SIPE_WEB_URL:localhost:4200}

coletor:
  api:
    url: ${COLETOR_API_URL:localhost:8082}

jsarh:
  api:
    url: ${JSARH_API_URL:localhost:8087}