server:
  port: 8084
logging:
  level:
    root: info
spring:
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
        alphanumeric-ids:
          enabled: true
  application:
    name: SIPE
  jpa:
    properties:
      hibernate:
        show_sql: false
  datasource:
    url: ${MYSQL_URL:jdbc:mysql://localhost:3306/sispontodb?allowPublicKeyRetrieval=true&sslMode=DISABLED}
    username: ${MYSQL_USER:root}
    password: ${MYSQL_USER_PASSWORD:123456789}
    driver-class-name: com.mysql.cj.jdbc.Driver

resilience4j:
  circuitbreaker:
    instances:
      DemoClientgetDemo:
        minimumNumberOfCalls: 69
  timelimiter:
    instances:
      DemoClientgetDemo:
        timeoutDuration: 10s
ponto:
  coletor:
    url: ${COLETOR_URL:localhost:8082}
servidor:
    jsarh:
      url: ${JSARH_URL:localhost:8087}