server:
  port: ${SERVER_PORT}
logging:
  level:
    root: info
spring:
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
        alphanumeric-ids:
          enabled: true
  application:
    name: SIPE
  jpa:
    properties:
      hibernate:
        show_sql: false
  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQL_USER}
    password: ${MYSQL_USER_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${JWK_SET_URI}

resilience4j:
  circuitbreaker:
    instances:
      DemoClientgetDemo:
        minimumNumberOfCalls: 69
  timelimiter:
    instances:
      DemoClientgetDemo:
        timeoutDuration: 10s

sipe:
  web:
    url: ${SIPE_WEB_URL}

coletor:
  api:
    url: ${COLETOR_API_URL}

jsarh:
  api:
    url: ${JSARH_API_URL}